@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Manrope:wght@400;600;700&display=swap");
@import "tailwindcss";

:root {
	font-family: "Manrope", sans-serif;
	font-synthesis: none;
}

.font-serif {
	font-family: "DM Serif Display", Georgia, serif;
}
